include button.pug
include ../../utils/packageData.pug

mixin package(data)
   each element in packageData
      each category in categories
         .package
            .head(class=element.button === 'yes' ? "green" : "orange" )
               h3=element.title
               h4=element.description
            .package__container
               .info 
                  .item
                     h5=category.room
                     h6=element.room
                  .item
                     h5=category.service
                     h6=element.service
                  .item
                     h5=category.staff
                     h6=element.staff
                  .item
                     h5=category.investment
                     h6.invest=element.investment
                  .item
                     h5=category.fee
                     ul 
                        each point in element.fee
                           li=point
                  .item
                     h5=category.payback
                     h6=element.payback
               +button('https://google.com', 'Оставить заявку', element.button)