doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width" )
      link(rel='stylesheet', type='text/css' href='./js/libs/splide/dist/css/splide.min.css')
      link(rel="shortcut icon", href="./img/logo.png", type="image/x-icon")
      link(rel="stylesheet", href="./css/style.css")
      script(type='text/javascript').
         (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
         
            ym(95932346, "init", {
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true,
                  webvisor:true
            });
      noscript 
         div
            img(src='https://mc.yandex.ru/watch/95932346', style='position:absolute; left:-9999px;', alt)
      title Главная
   body 
      include ../sections/index.pug

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer") 

      script(src="./js/libs/jquery.mask.min.js")

      script(src="./js/burger.js")

      script(src='./js/libs/splide/dist/js/splide.min.js')

      script(src="./js/slider.js")

      script(src="./js/masks/input.js")






